* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  color: white;
  background:#262626 ;
  position: fixed;
  width: 100%;
 z-index: 3;

}

.navbar h1 {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sign button{
    width: 80px;
    height: 35px;
    background: #49B7A5;
    color: white;
    border-radius: 4px;
    font-size: 15px;
}

.homepage {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 6%;
  height: 100vh;
   background:  #F46523;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
  padding: 30px 0px;
  gap: 8rem;

}

.active-ele {
  background: white;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #7AA93C;
  border-radius: 5px;
}

.nav-link {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.nav-link .link {
  color: rgba(255,255,255,0.5);
  font-size: 21px;
}

.nav-link .active-li {
  color: white;
}

.chat {
  margin-left: 90px;
  margin-top: 75px;
  width: 100%;
  display: flex;
}

.left-section {
  width: 35%;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px 0px;
  height: 100vh;

}

.chat-nav {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-nav .uler {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 19px;
  color: rgba(0,0,0,0.3);
}
.chat-nav h1 {
  font-size: 20px;
}

.drop-down {
  position: absolute;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  width: 185px;
  height: 150px;
  align-items: center;
  display: flex;
  background: white;
  transform: translate(-160px, 20px);
  border-radius: 5px;
}

.drop-down ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
 
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  width: 100%;
 
}

.drop-down ul li {
  padding: 10px 0px 10px 20px;
}

.drop-down ul li:hover {
  background: #eee;
  width: 100%;

}

.chat-filter {
  display: flex;
  padding: 20px 15px;
  gap: 2rem;
}

.filter-left {
  width: 30%;
  height: 38px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.search {
  width: 70%;
  height: 38px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  border-radius: 5px;

}

.search input {
  height: 38px;
  padding-left: 15px;
  width: 280px;
  border: none;
  border-radius: 0px;
  background: transparent;
}

.search button {
  font-size: 17px;
  background: white;
  border: none;
  color: rgba(0,0,0,0.5);
}

.main-chats {
  padding: 20px 15px;
  border-top: 1px solid rgba(0,0,0,0.1);
  background: #F8F9FA;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drp2 {
  transform: translate(28px, 132px);
  height: 210px;
}

.filter-left:hover {
  background: #F8F9FA;
}

.the-top {
  display: flex;
  justify-content: space-between;

  width: 360px;
}

.chat-profile-pic {
  width: 55px;
  height: 55px;
  background: url("https://pbs.twimg.com/media/F2J9VdXWoAIRse5.jpg:large");
  background-size: cover;
  border-radius: 50%;
}

.chat-user {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 24px 15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.chat-user-right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.the-bottom p {
  color: rgba(0,0,0,0.6);
  font-weight: 500;
}

.the-top p {
  color: rgba(0,0,0,0.6);
  font-weight: 500;
}
.chatbox {
  width: 60%;
  height: 90vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  gap: 1.5rem;

}

.chatbox h1 {
  font-size: 20px;
}

.start-img {
  width: 100px;
  height: 100px;
  background: url("https://plus.unsplash.com/premium_photo-1661508557554-e3d96f2fdde5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJldHR5JTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  border-radius: 50%;
 
}

.chatbox p {
  color: rgba(0,0,0,0.5);
}

.chatbox button {
  width: 150px;
  height: 40px;
  background: white;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
}

.navbar span {
  color: #7AA93C;
}

.signup{

width: 100%;
display: flex;
}

.sign-left {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 55%;
 height: 100vh;
 gap: 0.7rem;
}

.sign-left h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-left p {
  font-size: 19px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socials div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.facebook {
  background-color: #46536D;
}

.google {
  background-color: #DF4D3A;
}

.twitter {
  background-color: #00acee;
}



.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input input {
  width: 450px;
  height: 45px;
  border-radius: 20px;
  border: none;
  background-color: #e7f6f2;
  padding-left: 20px;
}

.sign-btn button{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  background: #F46523;
}

@keyframes zoom-in {
  from {background-size: 1300px;}
  to {background-size: 1600px;}
}

.sign-right {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://media.istockphoto.com/id/1165318486/photo/its-always-the-right-time-for-romance.jpg?s=612x612&w=0&k=20&c=c508PmwyHVel7qvlu5Qw_Pzt9Qfmr-VzOO7TQumpOUw=");
  width: 45%;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  animation: zoom-in 4s linear infinite;
}

.sign-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  color: white;
  gap: 1.5rem;
  text-align: center;
}

.sign-right h1 {
  font-size: 45px;
}

.sign-right p {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 34px;
}

.sign-right button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background: white;
}

input:focus {
  outline: none;
}

.login {
  width: 100%;
  height: 100vh;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))  ,url("https://www.zikoko.com/wp-content/uploads/zikoko/2022/02/shutterstock_1493463374-800x445-1.jpg");
 background-size: cover;
background-position: left;
  color: white;
  
}

.sign-nav {
  display: flex;
  justify-content: space-between;
}

.main-sign {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto 0 0;
  width: 425px;

}

.main-sign ul {
  display: flex;
  gap: 1.5rem;
  font-size: 15px;
  font-weight: 600;
}

.noner {
  list-style-type: none;
}

.main-sign .heading1 {
  font-size: 40px;
}

.login-form {
  padding: 40px 30px;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form h1 {
  font-size: 20px;
}

.login-form p {
  font-size: 13px;
}

.form-info {
  display: flex;
  gap: 0.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info select, .info input {
  width: 100%;
  height: 37px;
  padding-left: 10px;
}

.log-btn button{
  background: #F46523;
  color: white;
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
}

.log-btn {
  margin-top: 20px;
}

.para {
  margin-top: 10px;
}

.logger {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logger button {
  width: 80px;
  height: 30px;
  color: white;
  background: #F46523;
  border: none;
  border-radius: 3px;
}

.overall-sign {
  display: flex;
}

.bottom-links {
 margin: auto 0 0 0;
 display: flex;
 gap: 3rem;
}

.btm-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}











@media screen and (max-width: 1300px){
  

  .login {
    background-position: center;
  }

  .signup {
    display: flex;
    flex-direction: column;
  }

  .sign-left {
    width: 100%;
  }

  .sign-right {
    width: 100%;
    animation: none;
    background-size: cover;
  }
}

@media screen and (max-width: 600px){
  

  .login {
    background-position: center;
    padding: 20px 30px;
   
  }

  .overall-sign {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-sign {
    width: initial;
  }
  .logger p {
    display: none;
  }

  .sign-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .input input {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #e7f6f2;
    padding-left: 20px;
  }

  .sign-right {
    padding: 0px 10px;
    height: 50vh;
  }
}